* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.row:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.d-none,
.sm-d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-white {
  color: white;
}
.color-light-gold {
  color: #fcd062;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.rounded-border {
  margin: 4px;
  border: 1px solid rgba(222, 181, 85, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
}
.tag-bg-html {
  background-color: #e44d26;
}
.tag-bg-css {
  background-color: #4cae4f;
}
.tag-bg-less {
  background-color: #8ae48d;
}
.tag-bg-js {
  background-color: #fdc910;
}
.tag-bg-jquery {
  background-color: #1b75bb;
}
.tag-bg-ajax {
  background-color: #a30000;
}
.tag-bg-json {
  background-color: #ffaf37;
}
.tag-bg-react {
  background-color: #61dafb;
}
.tag-bg-rwd {
  background-color: #036600;
}
.tag-bg-bts {
  background-color: #b386eb;
}
.tag-bg-cdp {
  background-color: #485064;
}
.tag-bg-gth {
  background-color: #79838d;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6b14;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#pop-up-item-content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#pop-up-item-content iframe {
  border: 1px solid #daa520;
}
#pop-up-item-content .btn-close {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  top: 3px;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #daa520;
  text-decoration: none;
}
body {
  position: relative;
  color: goldenrod;
  font-family: 'Source Sans Pro', sans-serif;
}
.row {
  margin: 0 -15px;
}
.sm-col-12 {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 15px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 767px;
}
.container > div,
.container header {
  padding-top: 20px;
}
header {
  letter-spacing: 1px;
}
.intro {
  padding: 20px 0;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 1px;
}
.intro .point {
  display: inline-block;
  padding-top: 20px;
  border-bottom: 3px dotted #daa520;
}
.skills {
  padding: 40px 0;
  margin-bottom: 40px;
}
.skills .title {
  padding: 5px 0;
  text-align: center;
  color: black;
  background-color: goldenrod;
  letter-spacing: 1px;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}
.skills ul li {
  padding: 2px 4px;
  letter-spacing: 1px;
  color: #fff;
}
.skills .row {
  margin: 0;
}
.skills .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.skills .skill-category {
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
.skills .languages,
.skills .tools {
  border: 1px goldenrod solid;
  text-transform: uppercase;
}
.skills .tools {
  margin-top: -1px;
}
.skills .text-sm {
  font-size: 10px;
}
.portfolio-iframe {
  position: relative;
  margin-top: 30px;
  border: 1px solid goldenrod;
}
.portfolio-iframe iframe {
  width: 100%;
  height: 67vh;
}
.portfolio-iframe a {
  display: block;
  width: 100%;
  height: 100%;
  color: goldenrod;
}
.portfolio-iframe #aboutme-more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: goldenrod;
  transition: 0.3s;
  opacity: 0;
}
.portfolio-iframe #aboutme-more p {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  letter-spacing: 1px;
  width: 95px;
  height: 95px;
  line-height: 95px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}
.portfolio-iframe:hover #aboutme-more {
  opacity: 1;
}
footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: goldenrod;
}
footer a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
}
