@import "public.less";

#aboutme-container {
    position   : relative;
    margin     : 0 auto;
    padding    : 0 5%;
    max-width  : 767px;
    overflow   : hidden;
    color      : goldenrod;
    font-family: 'Source Sans Pro', sans-serif;

    &>div,
    header {
        padding-top: 20px;
    }

    header {
        letter-spacing: 1px;
    }

    .intro {
        padding       : 20px 0;
        text-align    : center;
        line-height   : 1.6em;
        letter-spacing: 1px;

        .point {
            display        : inline-block;
            padding-top    : 20px;
            text-decoration: underline dotted @color-golden;
        }
    }

    .skills {
        margin-bottom: 60px;

        &>div {
            padding-top   : 10px;
            padding-bottom: 10px;
            border        : 1px goldenrod solid;
            text-transform: uppercase;
        }

        .title {
            padding         : 5px 0;
            text-align      : center;
            letter-spacing  : 1px;
            color           : black;
            background-color: goldenrod;
        }

        .skill-category {
            padding       : 10px 0;
            text-transform: uppercase;
            text-align    : center;
            font-weight   : bold;
            letter-spacing: 2px;
        }

        ul {
            display        : flex;
            margin-bottom  : 15px;
            justify-content: center;
            flex-wrap      : wrap;

            li {
                padding       : 2px 4px;
                letter-spacing: 1px;
                color         : #fff;
                font-size     : 13px;
            }

        }

        .tools {
            margin-top: -1px;
        }

        .text-sm {
            font-size: 10px;
        }
    }

    .footer-contact {
        position        : fixed;
        padding         : 10px;
        left            : 0;
        bottom          : 0;
        width           : 100%;
        background-color: goldenrod;

        a {
            display        : block;
            text-align     : center;
            letter-spacing : 1px;
            text-decoration: none;
            color          : white;
        }
    }

}