ul {
  padding: 0;
  list-style: none;
}
.row {
  margin: 0 -15px;
}
.sm-col-12 {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 15px;
}
.row:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.d-none,
.sm-d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-white {
  color: white;
}
.color-light-gold {
  color: #fcd062;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.rounded-border {
  margin: 4px;
  border: 1px solid rgba(222, 181, 85, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tag-bg-html {
  background-color: #e44d26;
}
.tag-bg-css {
  background-color: #4cae4f;
}
.tag-bg-less {
  background-color: #8ae48d;
}
.tag-bg-js {
  background-color: #fdc910;
}
.tag-bg-jquery {
  background-color: #1b75bb;
}
.tag-bg-ajax {
  background-color: #a30000;
}
.tag-bg-json {
  background-color: #ffaf37;
}
.tag-bg-react {
  background-color: #61dafb;
}
.tag-bg-rwd {
  background-color: #036600;
}
.tag-bg-bts {
  background-color: #b386eb;
}
.tag-bg-cdp {
  background-color: #485064;
}
.tag-bg-gth {
  background-color: #79838d;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6b14;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#aboutme-container {
  position: relative;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 767px;
  overflow: hidden;
  color: goldenrod;
  font-family: 'Source Sans Pro', sans-serif;
}
#aboutme-container > div,
#aboutme-container header {
  padding-top: 20px;
}
#aboutme-container header {
  letter-spacing: 1px;
}
#aboutme-container .intro {
  padding: 20px 0;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 1px;
}
#aboutme-container .intro .point {
  display: inline-block;
  padding-top: 20px;
  text-decoration: underline dotted #daa520;
}
#aboutme-container .skills {
  margin-bottom: 60px;
}
#aboutme-container .skills .title {
  padding: 5px 0;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  background-color: goldenrod;
}
#aboutme-container .skills .row {
  margin: 0;
}
#aboutme-container .skills .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px goldenrod solid;
  text-transform: uppercase;
}
#aboutme-container .skills .skill-category {
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
#aboutme-container .skills ul {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
#aboutme-container .skills ul li {
  padding: 2px 4px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 13px;
}
#aboutme-container .skills .tools {
  margin-top: -1px;
}
#aboutme-container .skills .text-sm {
  font-size: 10px;
}
#aboutme-container .footer-contact {
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: goldenrod;
}
#aboutme-container .footer-contact a {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}
