@import "responsive.css";
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.row:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.d-none,
.sm-d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-white {
  color: white;
}
.underline {
  text-decoration: underline;
}
.rounded-border {
  margin: 4px;
  border: 1px solid rgba(222, 181, 85, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
}
.tag-bg-html {
  background-color: #e44d26;
}
.tag-bg-css {
  background-color: #4cae4f;
}
.tag-bg-less {
  background-color: #8ae48d;
}
.tag-bg-js {
  background-color: #fdc910;
}
.tag-bg-jquery {
  background-color: #1b75bb;
}
.tag-bg-ajax {
  background-color: #a30000;
}
.tag-bg-json {
  background-color: #ffaf37;
}
.tag-bg-react {
  background-color: #61dafb;
}
.tag-bg-rwd {
  background-color: #036600;
}
.tag-bg-bts {
  background-color: #b386eb;
}
.tag-bg-cdp {
  background-color: #485064;
}
.tag-bg-gth {
  background-color: #79838d;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6b14;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#pop-up-item-content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#pop-up-item-content iframe {
  border: 1px solid #daa520;
}
#pop-up-item-content .btn-close {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  top: 3px;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #daa520;
  text-decoration: none;
}
* {
  overflow: hidden;
}
.row {
  margin: 0 -5%;
}
.sm-col-12 {
  float: left;
  padding: 0 5%;
  width: 100%;
}
#new-container {
  position: relative;
  max-width: 767px;
  overflow: hidden;
}
#new-container:hover .square-left-top {
  transform: rotate(180deg);
}
#new-container:hover .square-right-top {
  transform: rotate(-90deg);
}
#new-container:hover .square-right-bottom {
  transform: rotate(360deg);
}
#new-container:hover .square-left-bottom {
  transform: rotate(90deg);
}
#new-container:hover .square-left-top,
#new-container:hover .square-right-top,
#new-container:hover .square-right-bottom,
#new-container:hover .square-left-bottom {
  opacity: 0;
}
#new-container:hover #entry {
  border-color: rgba(222, 181, 85, 0.3);
  opacity: 1;
  z-index: 10;
}
#new-container:hover #entry #entry-content {
  z-index: 500;
}
#new-container:hover #d,
#new-container:hover #o,
#new-container:hover #r,
#new-container:hover #i,
#new-container:hover #s {
  top: 0;
  opacity: 1;
}
#new-container:hover .entry-bg-c1,
#new-container:hover .entry-bg-c2 {
  transition-delay: 0.8s;
  opacity: 1;
  z-index: 1;
}
#new-container:hover .entry-bg-c2 {
  transition-delay: 1.8s;
  opacity: 1;
}
.main-bg-r-1,
.main-bg-r-2,
.main-bg-l-1 {
  position: absolute;
}
.main-bg-r-1 img,
.main-bg-r-2 img,
.main-bg-l-1 img {
  width: 100%;
  height: auto;
}
.main-bg-r-1 {
  top: 0;
  right: 0;
  max-width: 100px;
  max-height: 100px;
  transform: scaleX(-1);
}
.main-bg-r-2 {
  right: 0;
  bottom: 0;
  max-width: 250px;
  max-height: 250px;
  transform: scaleX(-1);
}
.main-bg-l-1 {
  left: 0;
  top: 50%;
  max-width: 200px;
  max-height: 200px;
  transform: translateY(-50%);
}
.entry-bg-c1,
.entry-bg-c2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  transition: 1s;
  opacity: 0;
}
.entry-bg-c1 img,
.entry-bg-c2 img {
  width: 100%;
  height: auto;
}
@keyframes shine1 {
  25% {
    border-right: 10px solid #daa520;
    border-bottom: 10px solid #daa520;
  }
  60% {
    border-right: 10px solid rgba(218, 165, 32, 0.2);
    border-bottom: 10px solid rgba(218, 165, 32, 0.2);
  }
}
@keyframes shine2 {
  45% {
    border-right: 10px solid #daa520;
    border-bottom: 10px solid #daa520;
  }
  80% {
    border-right: 10px solid rgba(218, 165, 32, 0.2);
    border-bottom: 10px solid rgba(218, 165, 32, 0.2);
  }
}
@keyframes shine3 {
  60% {
    border-right: 10px solid #daa520;
    border-bottom: 10px solid #daa520;
  }
  100% {
    border-right: 10px solid rgba(218, 165, 32, 0.2);
    border-bottom: 10px solid rgba(218, 165, 32, 0.2);
  }
}
@keyframes shine4 {
  80% {
    border-right: 10px solid #daa520;
    border-bottom: 10px solid #daa520;
  }
  100% {
    border-right: 10px solid rgba(218, 165, 32, 0.2);
    border-bottom: 10px solid rgba(218, 165, 32, 0.2);
  }
}
.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid rgba(218, 165, 32, 0.2);
  border-bottom: 10px solid rgba(218, 165, 32, 0.2);
  border-left: 10px solid transparent;
}
#center-decor-square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-20px, -20px);
  z-index: 999;
}
#center-decor-square .square-left-top,
#center-decor-square .square-right-top,
#center-decor-square .square-right-bottom,
#center-decor-square .square-left-bottom {
  transition: 0.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#center-decor-square .square-left-top {
  animation-name: shine1;
}
#center-decor-square .square-right-top {
  transform: rotate(90deg);
  left: 20px;
  animation-name: shine2;
}
#center-decor-square .square-right-bottom {
  transform: rotate(180deg);
  top: 20px;
  left: 20px;
  animation-name: shine3;
}
#center-decor-square .square-left-bottom {
  transform: rotate(270deg);
  top: 20px;
  animation-name: shine4;
}
#center-decor-rectangle #left-top,
#center-decor-rectangle #right-top,
#center-decor-rectangle #right-bottom,
#center-decor-rectangle #left-bottom {
  position: absolute;
  background-color: black;
  z-index: 888;
}
#center-decor-rectangle #left-top,
#center-decor-rectangle #right-bottom {
  width: 50%;
  height: 100px;
  border-top: 1px solid #daa520;
  border-bottom: 1px solid #daa520;
}
#center-decor-rectangle #right-top,
#center-decor-rectangle #left-bottom {
  width: 125px;
  height: 50%;
  border-right: 1px solid #daa520;
  border-left: 1px solid #daa520;
}
#center-decor-rectangle #left-top {
  bottom: 50%;
}
#center-decor-rectangle #right-top {
  left: 50%;
  bottom: 50%;
}
#center-decor-rectangle #right-bottom {
  top: 50%;
  right: 0;
}
#center-decor-rectangle #left-bottom {
  top: 50%;
  right: 50%;
}
#entry {
  position: absolute;
  margin: 0 auto;
  padding: 5% 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px transparent solid;
  transition: 1s;
  opacity: 0;
}
#entry #entry-content {
  margin: 0px;
  width: 200px;
  height: 100px;
  z-index: 777;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  font-family: 'Unna', serif;
  background-color: #000;
  border: 1px solid #daa520;
}
#entry a {
  display: block;
  text-decoration: none;
  color: #daa520;
}
#d,
#o,
#r,
#i,
#s {
  position: relative;
  display: inline;
  top: -10px;
  transition: 1s;
  opacity: 0;
}
#o,
#i {
  top: 20px;
}
#pop-up {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
}
#pop-up #cover-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#pop-up #pop-up-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  border-radius: 8px;
}
#pop-up #pop-up-menu .row {
  height: 100%;
}
#pop-up #pop-up-menu .row > div {
  height: 33.3333%;
}
#pop-up #pop-up-menu .row .border {
  height: 100%;
  border-bottom: 1px #daa520 solid;
}
#pop-up #pop-up-menu a.pop-up-item {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200%;
  text-transform: uppercase;
  color: #daa520;
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
}
#pop-up #bg-pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#pop-up #bg-pop-up #bg-box-1,
#pop-up #bg-pop-up #bg-box-2 {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(222, 181, 85, 0.2);
}
#pop-up #bg-pop-up #bg-box-1 {
  width: 10%;
  background-color: rgba(222, 181, 85);
}
#pop-up #welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: black;
  border: 1px solid goldenrod;
  color: #fff;
}
