ul {
  padding: 0;
  list-style: none;
}
.row {
  margin: 0 -15px;
}
.sm-col-12 {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 15px;
}
.row:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.d-none,
.sm-d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-white {
  color: white;
}
.color-light-gold {
  color: #fcd062;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.rounded-border {
  margin: 4px;
  border: 1px solid rgba(222, 181, 85, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tag-bg-html {
  background-color: #e44d26;
}
.tag-bg-css {
  background-color: #4cae4f;
}
.tag-bg-less {
  background-color: #8ae48d;
}
.tag-bg-js {
  background-color: #fdc910;
}
.tag-bg-jquery {
  background-color: #1b75bb;
}
.tag-bg-ajax {
  background-color: #a30000;
}
.tag-bg-json {
  background-color: #ffaf37;
}
.tag-bg-react {
  background-color: #61dafb;
}
.tag-bg-rwd {
  background-color: #036600;
}
.tag-bg-bts {
  background-color: #b386eb;
}
.tag-bg-cdp {
  background-color: #485064;
}
.tag-bg-gth {
  background-color: #79838d;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6b14;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.portfolio-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 767px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #daa520;
}
.portfolio-container img {
  border: 1px solid rgba(218, 165, 32, 0.2);
}
.portfolio-container header #title {
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  color: #daa520;
}
.portfolio-container #works .work-item {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  border: 1px solid #daa520;
}
.portfolio-container #works li {
  padding: 20px 0;
}
.portfolio-container #works li img {
  width: 100%;
  height: auto;
}
.portfolio-container #works p {
  display: inline-block;
}
.portfolio-container #works .name-info {
  margin: 0 -20px;
  padding: 5px 0;
  text-align: center;
  letter-spacing: 1px;
  background: goldenrod;
  color: white;
  font-family: 'Unna', serif;
}
.portfolio-container #works .skill-list {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.portfolio-container #works .skill-list li {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}
.portfolio-container #works .more {
  margin-top: 5px;
}
.portfolio-container #works .more a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: auto;
  text-align: right;
  font-family: 'Unna', serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #daa520;
  font-weight: bold;
  text-shadow: rgba(218, 165, 32, 0.2);
}
.portfolio-container #works .more a.more-slide {
  font-size: 14px;
}
.portfolio-container #works .more-area .title {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: goldenrod;
  font-size: 16px;
  border-bottom: 1px solid;
}
.portfolio-container #works .more-area .workAbout {
  padding: 20px;
  width: 100%;
  line-height: 1.8;
  text-align: center;
}
.portfolio-container #works .more-area p.related-post {
  display: block;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.portfolio-container #works .more-area p.related-post a {
  text-align: center;
  color: #daa520;
}
