@import "public.less";


.portfolio-container {
    margin        : 0 auto;
    padding       : 0 20px;
    max-width     : 767px;
    font-family   : Verdana, Geneva, Tahoma, sans-serif;
    font-size     : 13px;
    letter-spacing: 1px;
    color         : @color-golden;

    img {
        border: 1px solid @color-trans-golden;
    }

    header {
        #title {
            padding       : 40px 0;
            text-transform: uppercase;
            text-align    : center;
            font-size     : 25px;
            letter-spacing: 1px;
            color         : @color-golden;
        }
    }

    #works {
        .work-item {
            margin-bottom: 20px;
            padding      : 20px;
            padding-top  : 0;
            border       : 1px solid @color-golden;
        }

        li {
            padding: 20px 0;

            img {
                width : 100%;
                height: auto;
            }
        }

        p {
            display: inline-block;
        }


        .name-info {
            margin        : 0 -20px;
            padding       : 5px 0;
            text-align    : center;
            letter-spacing: 1px;
            background    : goldenrod;
            color         : white;
            font-family     : 'Unna', serif;
        }

        .skill-list {
            display        : flex;
            justify-content: center;
            padding-bottom : 20px;
            flex-wrap      : wrap;

            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 12px;
            }
        }

        .more {
            margin-top: 5px;
            a {
                display        : inline-block;
                text-decoration: none;
                width          : 100%;
                height         : auto;
                text-align     : right;
                font-family    : 'Unna', serif;
                font-size      : 16px;
                text-transform : uppercase;
                color          : @color-golden;
                font-weight    : bold;
                text-shadow    : @color-trans-golden;
            }
            a.more-slide {
                font-size: 14px;
            }

        }

        //the hidden area
        .more-area {
            .title {
                display       : block;
                padding       : 20px 0;
                text-transform: uppercase;
                text-align    : center;
                color         : goldenrod;
                font-size     : 16px;
                border-bottom : 1px solid;
            }

            .workAbout {
                padding    : 20px;
                width: 100%;
                line-height: 1.8;
                text-align : center;
            }

            p.related-post {
                display       : block;
                padding-bottom: 20px;
                text-align    : center;
                letter-spacing: 1px;

                a {
                    text-align: center;
                    color     : @color-golden;
                }
            }
        }
    }


}