ul {
  padding: 0;
  list-style: none;
}
.row {
  margin: 0 -15px;
}
.sm-col-12 {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 15px;
}
.row:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.d-none,
.sm-d-none {
  display: none;
}
.d-block {
  display: block;
}
.color-white {
  color: white;
}
.color-light-gold {
  color: #fcd062;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.rounded-border {
  margin: 4px;
  border: 1px solid rgba(222, 181, 85, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tag-bg-html {
  background-color: #e44d26;
}
.tag-bg-css {
  background-color: #4cae4f;
}
.tag-bg-less {
  background-color: #8ae48d;
}
.tag-bg-js {
  background-color: #fdc910;
}
.tag-bg-jquery {
  background-color: #1b75bb;
}
.tag-bg-ajax {
  background-color: #a30000;
}
.tag-bg-json {
  background-color: #ffaf37;
}
.tag-bg-react {
  background-color: #61dafb;
}
.tag-bg-rwd {
  background-color: #036600;
}
.tag-bg-bts {
  background-color: #b386eb;
}
.tag-bg-cdp {
  background-color: #485064;
}
.tag-bg-gth {
  background-color: #79838d;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d6b14;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
